<p>header works!</p>
  <!-- <ul>
    <li><a href="/">Studnets</a></li>
    <li><a href="/students">Studnets</a></li>
    <li><a href="/students/5">Studnet Details</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/asfkahfa">Error</a></li>
  </ul> -->
  <ul>
    <li><a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Studnets</a></li>
    <li><a routerLinkActive="active" routerLink="/students" [routerLinkActiveOptions]="{exact:true}">Studnets</a></li>
    <li><a routerLinkActive="active" routerLink="/students/5">Studnet Details</a></li>
    <li><a routerLinkActive="active" routerLink="/profile">Profile</a></li>
    <li><a routerLinkActive="active" routerLink="/asfkahfa">Error</a></li>
  </ul>
